@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url('./snow.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
}

.countdown-container {
  display: flex;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.5rem;
}

.input {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input input,
.input input:focus {
  width: 200px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px #000
}

.input button {
  width: 100px;
  height: 30px;
  margin-top: 20px;
}